version: '3.8'
services:
  postgres:
    image: ankane/pgvector
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: risk_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
